@font-face {
    font-family: NotoSans-Bold;
    src: url('../Assets/Fonts/NotoSans-Bold.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../Assets/Fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: NunitoSans-Bold;
    src: url('../Assets/Fonts/NunitoSans_10pt-Medium.ttf')
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
    font-family: NotoSans-Bold;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.main {
    display: none;
    flex-direction: column;
}

.nav {
    /* border: 1px solid white; */
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: rgb(238, 235, 58); */
}

.container {
    /* display: none; */
    justify-content: center;
    margin-top: 20px;
    padding: 25px;
    /* border: 1px solid white; */
}

.animeName p {
    font-family: Poppins-Bold;
    font-size: 2rem;
}

.baseContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
    /* margin-left: 5% */
}

.coverImage {
    flex-shrink: 0;
    /* border: 1px solid white; */
    height: 300px;
    width: 225px;
    border-radius: 12px;
}

.coverPic {
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

.basicInfo {
    scroll-behavior: smooth;
    flex-shrink: 0;
    margin-left: 3rem;
    height: 300px;
    width: 50%;
    border-radius: 12px;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    overflow: auto;
    transition: border-color 0.15s ease-in-out, overflow 0.15s ease-in-out;
}

.basicInfo:hover {
    border: 1px solid white;
}

.basicInfo p {
    font-size: 1.2rem;
}

.subInfo {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.advancedInfo {
    flex-shrink: 0;
    /* border: 1px solid white; */
    font-size: 1.4rem;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    width: 37%;
    max-width: 525px;
}

.miscInfo {
    flex-shrink: 0;
    margin-left: 3rem;
    /* border: 1px solid white; */
    border-radius: 12px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.4rem;
    width: 37%;
    max-width: 525px;
}

.charactersDiv {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    height: 350px;
}

.characters {
    padding-top: 10px;
    position: absolute;
    border: 1px solid white;
    width: 90%;
    max-width: 1181.72px;
    display: flex;
    flex-direction: row;
    height: inherit;
    border-radius: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
}

.charaText {
    position: absolute;
    margin-top: -4rem;
    font-size: 1.7rem;
}

.characters .character:last-child {
    margin-right: 10px;
}

.character {
    margin-left: 1rem;
}

.character img {
    border-radius: 12px;
    height: 240px;
    width: 158.4px;
}

.episodeContainer {
    z-index: 2;
    display: none;
    margin-top: 5rem;
    height: 450px;
    max-height: 500px;
    width: 70%;
    max-width: 55rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loaderContainer {
    /* display: none; */
    position: absolute;
    left: 45%;
    top: 50%;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.episodes {
    font-family: NunitoSans-Bold;
    padding: 10px;
    border: 1px solid white;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.pages {
    border-bottom: 2px solid #caf979;
    height: 4rem;
    display: flex;
    padding-left: 1rem;
}

.close {
    height: 30px;
    width: 30px;
    position: absolute;
    float: right;
    right: 16px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.close img {
    height: 25px;
    width: 25px;
    filter: invert();
}

.close:hover img {
    filter: none;
}

.close:hover {
    background-color: #caf979;
}

.page {
    margin-top: 1rem;
    height: 3rem;
    border: 1px solid wheat;
    width: 3rem;
    background-color: #caf979;
    color: black;
}

.page p {
    margin-top: 13px;
    margin-left: 19px;
}

.watch {
    position: absolute;
    right: 0;
    height: 50px;
    width: 100px;
    margin-top: 15px;
    margin-right: 15px;
}

.watchBtn {
    height: 100%;
    width: 100%;
    font-family: Poppins-Bold;
    font-size: 1.3rem;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 12px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.watchBtn:hover {
    background-color: #caf979;
    color: black;
}

.watchBtn:active {
    background-color: black;
    color: #caf979;
    border-color: #caf979;
    transition: none;
}

.episodeContent {
    margin-left: 4%;
    margin-top: 10px;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 0.1fr);
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.episode {
    margin-top: 10px;
    height: 85px;
    width: 90%;
}

.epBtn {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* max-height: 100px;
    max-width: 250px; */
    width: 100%;
    font-family: Poppins-Bold;
    font-size: 1.1rem;
    border-radius: 15px;
    background-color: black;
    border: 1px solid white;
    background-repeat: no-repeat;
    background-size: cover;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

.epBtn:hover {
    background-color: black;
    color: #caf979;
    border-color: #caf979;
}
