@font-face {
    font-family: NotoSans-Bold;
    src: url('../Assets/Fonts/NotoSans-Bold.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../Assets/Fonts/Poppins-Bold.ttf');
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
    font-family: NotoSans-Bold;
    overflow: hidden;
    padding-bottom: 50px;
    user-select: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    height: 400px;
    width: 30%;
}

.right {
    /* border: 1px solid white; */
    height: 400px;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.right p.noItems {
    color: rgb(48, 48, 48);
    margin: 40px;
}

#insidediv {
    margin: 40px;
}

.item {
    margin-left: 40px;
}

button.item {
    width: 5.5rem;
    height: 2.2rem;
}

.options {
    /* border: 1px solid white; */
    display: flex;
    padding-left: 20px;
}

.options.selected {
    background-color: #caf979;
    color: black;
    transition: background-color 0.1s ease-in-out;
}

.options:hover {
    background-color: #caf97971;
    color: rgb(255, 255, 255);
}

.options.selected:hover {
    background-color: #caf979c4;
    color: black;
}

.grp {
    margin-bottom: 30px;
}

.desc {
    margin-bottom: 20px;
}

.dboptions {
    display: flex;
    border: 1px solid white;
    border-radius: 12px;
    width: 200px;
    height: 50px;
    justify-content: center;
    margin-left: 20px;
}

.separation {
    border: 1px solid rgb(124, 124, 124);
    height: 50%;
    margin-top: 11px;
    margin-left: -1px;
    margin-right: -1px;
    z-index: 2;
}

.al,
.mal {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.al {
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 13px;
}

.mal {
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 13px;
}

.mal:hover,
.al:hover {
    background-color: #caf979ab;
    color: black;
}

.mal.dbselected,
.al.dbselected {
    background-color: #caf979;
    color: black;
}

.streamOpts {
    border: 1px solid white;
    border-radius: 12px;
    font-size: 1.15rem;
    width: 200px;
    height: 50px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.streamOpts img {
    filter: invert();
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
}

.dropdown {
    position: absolute;
    border: 1px solid white;
    border-radius: 0 0 12px 12px;
    width: 200px;
    margin-left: 20px;
    display: none;
    /* opacity: 0; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown div {
    width: 100%;
    height: 30px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .dropdown div:first-child {
    border-radius: 12px 12px 0 0;
} */

.dropdown div:last-child {
    border-radius: 0 0 12px 12px;
}

.dropdown div:hover {
    background-color: #caf979;
    color: black;
}

.streamOpts:hover ~ .dropdown {
    display: flex;
}

.dropdown:hover {
    display: flex;
}

/* .dropdown.drop {
    opacity: 1; 
    display: flex;
} */

/* .dropdown.drop:hover, .streamOpts:hover {
    display: flex;
} */
