@font-face {
    font-family: NotoSans-Bold;
    src: url('../Assets/Fonts/NotoSans-Bold.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../Assets/Fonts/Poppins-Bold.ttf');
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
    font-family: NotoSans-Bold;
    user-select: none;
}

button:focus {
    outline: none;
}

.main {
    display: flex;
    flex-direction: column;
}

.nav {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    margin-top: 5rem;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.overlay.show {
    display: flex;
}

.box {
    border: 1px solid white;
    border-radius: 15px;
    width: 90%;
    max-width: 900px;
    height: 500px;
    display: flex;
}

.container {
    margin-top: 25px;
    padding: 25px;
}

.container.hidden {
    display: none;
}

.servers {
    height: 100%;
    width: 25%;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.stream {
    width: 75%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.stream.loading {
    align-items: center;
    justify-content: center;
}

.streamsLoader {
    width: 75px;
    height: 60px;
}

.loadText {
    width: 200px;
    text-align: center;
    transform: translateX(-65px);
    font-family: Poppins-Bold;
    font-size: 1.2rem;
}

.servers div {
    height: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servers div:hover {
    background-color: #caf979;
    color: black;
}

.streamGroup {
    margin-bottom: 20px;
}

.subStream {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 20px;
    display: none;
    flex-direction: column;
}

.streamName {
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.streams {
    /* border: 1px solid white; */
    border-radius: 12px;
    width: 95%;
    height: 4rem;
    display: flex;
}

.playerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playerContainer2 {
    max-height: 483.75px;
    /* width: 90%; */
    /* max-height: 892px; */
}

.player {
    height: 483.75px;
    max-width: 892px;
    /* max-width: 100%; */
    position: relative;
}

.videoPlayer {
    border: 1px solid rgba(70, 70, 70, 0.568);
    height: 483.75px;
    width: 100%;
    max-width: 860px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.controlContainer {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.35) 88%,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0)
    );
    height: 95px;
    display: flex;
    justify-content: center;
    margin-top: -5.75rem;
}

.controls {
    position: relative;
    opacity: 0;
    width: 100%;
    height: inherit;
    padding-left: 2.5%;
    padding-right: 2.5%;
    max-width: 862px;
    background-image: inherit;
    transition: opacity 0.3s ease-out;
}

.playerContainer2:hover .controls {
    opacity: 1;
}

.timeDiv {
    display: flex;
    margin-bottom: 8px;
    margin-top: 12px;
}

#watch_progress {
    width: 100%;
    height: 8px;
    background-color: #929292e0;
    border-radius: 5px;
}

#progressed {
    width: 0%;
    height: 100%;
    background-color: #caf979;
    border-radius: inherit;
    transition: width 0.08s ease-in;
}

#point {
    pointer-events: none;
    opacity: 0;
    height: 100%;
    width: 8px;
    margin-left: 0%;
    margin-top: -0.515rem;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 100%;
    transform: scale(0);
    transition: opacity 0.1s ease-out, transform 0.1s ease-in-out, margin-left 0.08s ease-in;
}

#watch_progress:hover #point {
    opacity: 1;
    transform: scale(1.5);
}

.sourcesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.sources {
    /* border: 1px solid white; */
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 50rem;
    height: 60px;
}

.source {
    max-width: 150px;
    width: 100px;
    height: 50px;
    text-align: center;
    border: 1px solid rgb(97, 97, 97);
    margin: 5px;
    background-color: black;
    padding: 5px;
    color: white;
    font-size: 1.4rem;
    font-family: Poppins-Bold;
    border-radius: 12px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.sources button {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid white;
    height: 100%;
    width: 30%;
    margin-left: 20px;
    font-size: 1.4rem;
    font-family: Poppins-Bold;
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.sources button:hover {
    background-color: #caf979;
    color: black;
    border-color: black;
}

.sources button:hover img {
    filter: none;
}

.previousEp img {
    filter: invert();
    height: 70%;
    width: 40px;
}

.nextEp img {
    transform: scaleX(-1);
    filter: invert();
    height: 70%;
    width: 40px;
}

.sources button:active {
    background-color: black;
    border-color: #caf979;
    color: white;
}

.sources button:active img {
    filter: invert();
}

.source:hover {
    background-color: #caf979;
    color: black;
}

.source:active {
    background-color: black;
    color: #caf979;
    border-color: #caf979;
    transition: none;
}

.mediaButtons {
    margin-top: 7px;
}

.play_pause {
    height: 30px;
    width: 30px;
    padding: 3.5px;
    padding-left: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 15px;
}

.play_pause img {
    height: 20px;
    width: 20px;
    filter: invert();
}

.widescreen {
    height: 30px;
    width: 45px;
    background-color: transparent;
    border: none;
    float: right;
    margin-top: -4px;
}

.widescreen img {
    filter: invert();
    height: 35px;
    width: 35px;
}

.fullScreen {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 1px solid transparent;
    float: right;
    margin-left: 15px;
}

.fullScreen img {
    height: 20px;
    width: 20px;
    filter: invert();
}

.srcLoader {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: -2%;
    /* margin-left: -10%; */
}

.playerTitle {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.videoLoaderContainer {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.videoLoader {
    color: #ffffff;
    width: 4px;
    height: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
    transform: translateX(-38px);
    animation: l21 0.5s infinite alternate linear;
}

@keyframes l21 {
    50% {
        box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
    }
    100% {
        box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
    }
}